@page
@model ListaModel
@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>Estoque</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Valor total <br> em estoque</em></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model.Produtos)
        {
            <tr>
                <td>@produto.Nome</td>
                <td>R$ @produto.Preco.ToString("F2")</td>
                <td>@produto.Quantidade</td>
                <td>R$ @produto.valorTotalEstoque().ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>